/* 
Color Pallet
Primary: #00204a (darkest)
Secondary: #005792
Tertiary: #00bbf0
Quaternary: #d9faff (lightest)
*/

/* 
Fonts
1. Oswald
2. Source Sans Pro
 */
 
 :root {
    --prim: #00204a; 
    --second: #005792;
    --tert: #00bbf0;
    --quat: #d9faff;
 }

body {
    position: relative;
    background-color: var(--prim);
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 16px;
    color: var(--quat);
}

/* Headers */
h1, h2, h3, {
    font-family: 'Oswald', Verdana, sans-serif;
}

header {
    position: fixed;
    width: 100vw;
    height: 14vh;
    background-color: var(--prim);
    top: 0;
    left: 0;
}

h1 {
    background-color: var(--second);
    width: 95%;
    margin: 3% auto;
    padding: 2%;
    text-align: center;
    font-size: 150%;
    border-radius: 10px;
}

/* Navbar */
nav ul {
    display: flex;
    justify-content:space-around;
    list-style-type: none;
    /* move to reset? */
    padding-inline-start: 0;
}

nav li {
    background-color: var(--quat);
    width: 30%;
    text-align: center;
    padding: 2% 0;
    border-radius: 15px;
}

nav a {
    color: var(--prim);
    text-decoration: none;
    font-weight: bold;
}

/* Profile image */
#hero {
    background-color: var(--second);
    margin-top: 8.5em;
    width: 97.5%;
    height: 40vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* move to reset? */
    margin-inline-start: auto;
    margin-inline-end: auto;
}

#hero img {
    max-width: 200px;
    max-height: 200px;
    background-size: cover;
    display: block;
    margin: 2.4em auto;
    border: 3px solid var(--quat);
    border-radius: 10px;
}

#hero figcaption {
    text-align: center;
}
/* 
#hero figcaption::after {
    content: "I make websites.";
    display: block;
    text-align: center;
    font-size: 105%;
} */

/* Sections */
.sections {
    background-color: var(--second);
    width: 97.5%;
    height: fit-content;
    border-radius: 10px;
    margin: 5% auto;
    padding-bottom: .1em;
    scroll-margin-top: 8.5em;
}

.sections h2 {
    margin: 2% 3%;
    padding-top: 3%; 
    font-size: 125%;
    text-align: center;
}

p {
    margin: 0 3%;
    padding-bottom: 3%;
    font-size: 105%;
}

/* Project Links */
#work a {
    text-decoration: none;
    color: var(--prim);
}

#work figure {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--quat);
    /* move to reset? */
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    /* move to reset? */
    margin: 1em .5em;
    border-radius: 10px;
}

#work a:last-of-type {
    margin-bottom: 2em;
}

#work img {
    width: 90%;
    margin: 1em;
}

#work h3 {
    font-size: 118%;
    margin-left: .5em;
}

#work figcaption {
    font-size: 105%;
    margin: .5em;
}

/* Contact */
#contact ul {
    display: flex;
    justify-content:space-around;
    list-style-type: none;
    /* move to reset? */
    padding-inline-start: 0;
}

#contact i {
    color: var(--quat);
    font-size: 3em;
}

footer p {
    text-align: center;
}
/* Media quieries (source: https://devfacts.com/media-queries-breakpoints-2022/ */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { ... }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { ... }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { ... }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }