/* 
Color Pallet
Primary: #00204a
Secondary: #005792
Tertiary: #00bbf0
Quaternary: #d9faff
*/

/* 
Fonts
1. Oswald
2. Source Sans Pro
 */
 
body {
    margin: 0;
    background-color: #00204a;
    font-size: 16px;
    color: #d9faff;
}

/* Navbar */
nav ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

nav a {
    color: #d9faff;
    text-decoration: none;
    margin-right: 2em;
}

/* Profile image */
figure img {
    max-width: 200px;
    max-height: 200px;
    background-size: cover;
}

/* Sections */

/* Project Links */
#work a {
    text-decoration: none;
}

/* Media quieries (source: https://devfacts.com/media-queries-breakpoints-2022/ */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { ... }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { ... }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { ... }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }